<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items; let i=index;" [@itemState]>
                    {{item.id}}&nbsp; - &nbsp;{{item.name}}
                    <button class="btn btn-dark float-right" (click)="onDeleteItem(i)">Supprimer</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>