/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

mbng7-main-navigation {
    display: block;
    width: 100%;
}

.mbng7-main-row {
    height: 100%;
}

.mbng7-main-row-fullscreen {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
  }

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}