<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">MB NG7</a>
  <button class="navbar-toggler" 
      type="button" 
      aria-controls="navbarNavAltMarkup" 
      [attr.aria-expanded]="!isCollapsed" 
      aria-label="Toggle navigation"
      (click)="changeCollapseState()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let p of pages">
        <a class="nav-link" [routerLink]="[p.link]">{{p.name}}</a>
      </li>
    </ul>
  </div>
</nav>
