<div class="mb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center" style="color:white;">FOOTER BLOCK 1</h4>
            </div>
            <div class="col-sm-4">
                <h4 class="text-center" style="color:white;">FOOTER BLOCK 2</h4>
            </div>
            <div class="col-sm-4">
                <h4 class="text-center" style="color:white;">FOOTER BLOCK 3</h4>
            </div>
        </div>
    </div>
</div>