<footer class="low-opacity">
    <div class="container-fluid text-center global-padding" style="background:#2C3A47; color:white;">
        <div class="row">
            <div class="col-sm-3 offset-sm-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus
                fringilla.
                Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
            </div>
            <div class="col-sm-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus
                fringilla.
                Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
            </div>
            <div class="col-sm-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus
                fringilla.
                Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
            </div>
        </div>
        <div class="row global-padding">
            <div class="col-sm-12 text-center">
                <small class="text-center">Copyright &copy; MB Store</small>
            </div>
        </div>
    </div>
</footer>